body{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:25px;
}

nav .logo{
    font-weight: 800px;
    color:brown;
}

nav i{
    color:chocolate;
}

nav .container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
}

nav ul{
    display: flex;
    list-style: none;
    gap:18px;
    padding:15px;
}

nav li{
    cursor: pointer;
}

header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:38px;
    padding:62px;
    background-color: blanchedalmond;
}

header h1{
    margin:0;
    text-shadow: 1.5px 1.5px rgb(116, 28, 204);
}

header p{
   color:crimson;
   font-style: italic;
   text-shadow: 1px 1px yellowgreen;
}

header button{
    border-radius: 51px;
    color:white;
    padding:8px;
    background-color:royalblue;
    cursor: pointer;
    font-size:25px;
}

header img{
    box-shadow: 5px 5px 5px 5px rgba(21, 31, 50, 0.8);
    border-radius: 65px;
}

.info h1{
    text-align: center;
    background-color: skyblue;
    padding: 25px;
    margin:0;
}

.info .img-container{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color:cornsilk;
}

.info img{
    border-radius: 51px;
    border:2px solid rgb(228, 15, 207);
}

.science,.technology,.engineering,.maths{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    flex-wrap: wrap;
    text-align: center;
}

.quotes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.quotes dl{
    padding:55px;
}

.quotes dt{
    font-style: italic;
}

.quotes dd{
    text-align: end;
    font-weight: bold;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:126px;
    background-color:darkgrey;
    padding: 25px;
    border:3px groove black;
    outline:10px groove white;
    outline-offset: 3px;
}

.box button{
    font-size: 20px;
    width: 185px;
    background-color: white;
    color:royalblue;
    border-radius: 25px;
    padding:12px;
    cursor: pointer;
}

.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}

footer .element{
    background: lightblue;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}